.radial {
    color: blue; color: blueviolet; color: coral;
    text-align: start;
    text-rendering: geometricPrecision;
    word-spacing: 0rem;
    background-color: none;
    font-size: smaller;
    fill:red;
    align-items: baseline;

  }

  .subLabel {
    text-align: inherit;
    text-rendering: optimizeLegibility;
    fill:red;
  }