.radial {
    color: blue; color: blueviolet; color: coral;
    text-align: initial;
    text-rendering: optimizeLegibility;
    word-spacing: unset;
    background-color: none;
    font-size: x-large;
  }